.header-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2rem;
  position: relative;
  /* Adicionado para posicionar a barra corretamente */
}
.logo-header{
  width: 10rem;
}
.header-container__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.25rem;

  font-family: "Poppins", serif;
  font-weight: bold;
}

.header-container__nav img {
  max-width: 200px;
}

.header-container__nav a {
  font-size: 1.875rem;
  text-decoration: none;
  color: #FF7EAF;
}

.header-container__divisor {
    height: 2px;
    border-radius: 40px;
    background-color: #FF7EAF;
    position: absolute;
    bottom: 0;
    transition: left 0.3s ease, width 0.3s ease, opacity 0.3s ease;
}

.header-container__nav__login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 8rem;
    border-radius: 22px;
    transition: background-color 0.3s linear;
}

.header-container__nav__login-wrapper:hover {
    background-color: #FF7EAF;
    cursor: pointer;
}

.header-container__nav__login-wrapper:hover .login-link {
    color: black;
}